@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Parisienne&subset=latin-ext');

.login-container{
  font-family: 'Gothic A1', sans-serif;
}


/* auth styles */

.get-started{
  padding: 50px 0px 50px 0px;
}
#get-started{
  background-color: #490F83;

}
footer{
  color: white;
}
#foot{
  background-color: black;
}
.foot{
  padding: 30px 0px 30px 0px;
}
hr{
  background-color: white;
}
.button{
  border-radius: 20px;
  background-color: white;
  color:   #490F83;
  width: 200px;
  float:

}
.svg {
  height: 20px;
  width: 20px;
  filter: invert(.2) sepia(1) saturate(4) hue-rotate(235deg);
}
.note{
  font-size: 12px
}
.btn-note {
  border: 2px solid   #490F83;
  width: 150px;
  background-color: white;
}
.view{
  color:  #490F83;
  font-weight: 700;

}
.view-more{
  border-radius: 20px;
  background-color: white;
  border: 2px solid   #490F83 ;
  color:   #490F83;
  width: 200px;
  float: right;
}
.rounded-circle{
  width: 200px;
  height: 200px;
  padding-top: 20px;
}
#content{
  padding: 50px;
}
.box{
  border: 1px ridge;
  background-color: rgba(250, 248, 248, 0.2);
  width: 500px;
  padding: 20px;
}
.boxx{
  border: 1px ridge;
  background-color: rgba(250, 248, 248, 0.2);
  padding: 20px 50px 20px 50px;
}
.level{
  float: right;
  font-weight: 600;

}
.up{
text-align: center;
margin-left: 20px;
font-weight: 600;
}
.hr{
width: 30px;
height: 2px;
background-color: red;
margin-top: -10px;

}
.center{
  margin: auto;
  width: 40%;
  padding: 10px;
}
.quotee{
  font-size: 24px;
  font-style: normal;
  word-spacing: 3px;
  font-weight: 300;
  text-align: center;
  color: gray;
  font-family: 'Parisienne', cursive;
}
.quote{
  /* padding: 50px 0px 50px 0px; */
}
.quoter{
  font-weight: normal;
  /* text-align: right; */
  color: gray;
  font-size: 16px;

}
.next{
  border-radius: 50px;
  border: 2px ridge;
  border-color:  #490F83 rgb(198, 4, 241) rgb(255, 0, 119);
  color: black;
  font-weight: 600;
}
.next:hover{
  background-color: #490f83;
  color:#fff;
}
.Cancel{
  border-radius: 50px;

}

.cancel{
  color: gray;
  font-weight: 600;
}
.log{
  color: rgb(116, 0, 194);
}
.Remind{
  /* text-align: right; */
  padding: 10px;
  font-weight: 600;
}
.wrong{
  text-align: center;
  padding: 10px;
  font-weight: 600;
}
.list-group-item{
  border: none;
}
.list-group-item-action:focus{
  background-color:white;
  color:black;
  font-weight: 600;
  z-index: ;

}
.verify{
  text-align: justify;
}



@media only screen and (min-width: 1024px) {
  .center{
    margin: auto;
    width: 40%;
    padding: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .center{
    margin: auto;
    width: 40%;
    padding: 10px;
  }
  .quote{
    padding: 10px;
  }
  .quotee{
    font-size: 20px;
    font-style: normal;
    /* word-spacing: 3px; */
    font-weight: 300;
    text-align: center;
    color: gray;
  }
}

@media only screen and (max-width: 768px) {
  .center{
    margin: auto;
    width: 65%;
    padding: 10px;
  }
  .quote{
    padding: 10px;
  }
  .quotee{
    font-size: 20px;
    font-style: normal;
    /* word-spacing: 3px; */
    font-weight: 300;
    text-align: center;
    color: gray;
  }
}
@media only screen and (max-width: 600px) {
  .quote{
    padding: 10px;
  }
  .quotee{
    font-size: 16px;
    font-style: normal;
    /* word-spacing: 3px; */
    font-weight: 300;
    text-align: center;
    color: gray;
  }
  .center{
    margin: auto;
    width: 100%;
    padding: 10px;
  }
}
