.navbar{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-input{
   border-radius: 20px;
   border:2px solid #490F83;
}

.footer-banner {
   background-color: #490f83;
}

.get-started-btn {
   font-size: 18px;
   font-weight: bold;
   border-radius: 30px;
}

.footer-content {
   background-color: #000
}

a {
   text-decoration: none;
   color: #fff;
}

a:hover {
   border-bottom: 3x solid #fff;
   /* color: #fff; */
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
   line-height: 30px;
}
.horizontal-line {
   border-bottom: 2px solid #fff;
}

.footer-list-title {
   font-size: 18px;
   font-weight: bold;
}

.copyright-text {
   font-size: 12px;
}
.copyright {
   font-size: 14px;
}
