body{
  font-family: 'Lato', sans-serif;
}

.f-10{
	font-size: 10px;
}
.f-11{
	font-size: 11px;
}
.f-12{
	font-size: 12px;
}
.f-14{
	font-size: 14px;
}
.f-15{
	font-size: 15px;
}
.f-16{
	font-size: 16px;
}
.f-17{
	font-size: 17px;
}
.f-18{
	font-size: 18px;
}
.f-20{
	font-size: 20px;
}
.f-22{
	font-size: 22px;
}
.f-24{
	font-size: 24px;
}
.f-28{
	font-size: 28px;
}
.f-32{
	font-size: 32px;
}
.f-36{
	font-size: 36px;
}
.f-40{
	font-size: 40px;
}
.f-42{
	font-size: 42px;
}
.f-47{
	font-size: 47px;
}
.f-48{
	font-size: 48px;
}
.f-64{
	font-size: 64px;
}
.bg-light-alt{
  background-color: #FEFEFE;
  opacity: 0.9;
}
.border-white-alt{
  border: 2px solid #ffffff;
}
.btn-rounded{
  border-radius: 20px;
}
.border-secondary-alt{
  border: 3px solid #C4C4C4;
}
.text-purple{
  color: #490F83!important;
}
.w-15{
  width: 15%;
}
.bg-purple{
  border: 1px solid #490F83;
}
.p-20{
  padding-top:20%;
}
.w-35{
  width: 35.125rem;
}
.btn-purple-alt{
  color: #fff;
  background-color: #490F83;
  border: 2px solid  #ffffff;
}
.btn-purple-alt:hover{
  color:#490F83!important;
  background-color:#ffffff!important;
  border: 2px solid #490F83;
}
.btn-light-alt{
  color: #333;
  background-color: #F9F9F9;
  border: 2px solid  #ffffff;
}
.btn-light-alt:hover{
  color:#333!important;
  background-color:#ffffff!important;
  border: 2px solid #F9F9F9;
}
.btn-white-alt{
  color:  #490F83;
  background-color:#ffffff;
  border: 2px solid #ffffff;
}
.btn-white-alt:hover{
  color:#ffffff!important;
  background-color:#490F83!important;
  border: 2px solid #ffffff;
}
.vh-65{
  height:65vh;
}
.vh-140{
  height:140vh;
}
/* .text-underline{
    text-decoration: underline!important;
} */






@media only screen and (max-width: 600px) {
    .f-18{
      font-size: 14px;
      line-height: 14px!important;
    }
    .f-36{
      font-size: 16px;
      line-height: 18px!important;
    }
    .f-48{
      font-size: 24px;
      line-height: 28px!important;
    }
    .f-64{
      font-size: 24px;
      line-height: 28px!important;
    }
    .w-sm-100{
      width: 100%!important;
    }
    .text-sm-justify{
      text-align: justify;
    }
    .ml-50-alt{
      margin-left: 35%!important;
    }
    .p-20{
      padding-top:5%;
    }
}
@media only screen and (min-width: 1024px) {
    .w-910{
      width: 75%!important;
    }
    .w-100-alt{
      width: 40%!important;
    }
    .w-100-alt-diff{
      width: 50%!important;
      display: flex;
      justify-content: center!important;
    }
}
@media only screen and (max-width: 1024px) {
    .w-100{
      width: 75%!important;
    }
    .w-100-alt{
      width: 50%!important;
    }
    .w-100-alt-diff{
      width: 75%!important;
      display: flex;
      justify-content: center!important;
    }
}

@media only screen and (max-width: 768px) {
    .w-100{
      width: 75%!important;
    }
    .w-100-alt{
      width: 75%!important;
    }
    .w-100-alt-diff{
      width: 75%!important;
      display: flex;
      justify-content: center!important;
    }
}
@media only screen and (max-width: 600px) {
    .w-100{
      width: 100%!important;
    }
    .w-100-alt{
      width: 100%!important;
    }
    .w-35{
      width: 1.125rem;
    }
    .w-100-alt-diff{
      width: 100%!important;
      display: flex;
      justify-content: center!important;
    }
    .vh-65{
      height:100%;
    }
    .vh-140{
      height:100%;
    }
}
