.svg {
    height: 15px;
    width: 15px;
    filter: invert(.3) sepia(1) saturate(4) hue-rotate(235deg);
}
.svg1 {
    height: 15px;
    width: 15px;
}
.svg2 {
    height: 25px;
    width: 25px;
    filter: invert(.3) sepia(1) saturate(4) hue-rotate(235deg);
    margin-top: 10px;


}
.add-campaign {
    margin-bottom: 96px;
}
.donors {
    font-size: 0.7em;
}
.prog-bar {
    filter: invert(.2) sepia(1) saturate(4) hue-rotate(235deg);
}
.sm-text {
    font-size: 0.8em;
}
.click-here {
    filter: invert(.1) sepia(1) saturate(4) hue-rotate(235deg);
}

.nav-color {
    background-color: #490f83;
    /* height: 80px; */
}
.w-25{
  max-width: 20%!important;
  min-width: 20%!important;
}
.w-25-alt{
  max-width: 25%!important;
  min-width: 25%!important;
}
.navitems {
    color: white;
}
.hr-line {
    width: 50px;
    height: 2px;
    background-color: orangered;
    float: left;
}
.pagination a {
    color: #333333;
}
.pagination a:hover,
.pagination a:focus,
.pagination .active a {
    background-color: #ffffff;
    color: #490f83;
}
.header-li a {
    color: #333333;
}
.header-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
p.circle {
    position: relative;
    border: 1px solid #b2b2b2;
    width: 80px;
    height:80px;
    border-radius: 100%;
    display: block;
    margin-top: 150px;

}
.bg-create{
    border:1px solid rgb(226, 226, 226);
}
.btn-create{
    border-radius:30px;
    background-color: transparent;
    color:#000;
    width:100%;
}

.svg4 {
    height: 15px;
    width: 15px;
    filter: invert(.3) sepia(1) saturate(4) hue-rotate(235deg);
}
.svg5 {
    height: 20px;
    width: 20px;
    filter: invert(.3) sepia(1) saturate(4) hue-rotate(235deg);
}
.prof-image {
    border-radius: 100% !important;
    width: 240px;
    height: 240px;
    margin-top: 10px;

}

label {
    font-size: 0.7em;
}
.btn-purple{
  color: #fff;
  background-color: #490F83;
}
.button {
    color: #490f83;
    border: 3px solid #490f83;
}
.cont-reading {
    filter: invert(.1) sepia(1) saturate(6) hue-rotate(230deg);
}
.bg-jumbo {
    background: url('../img/sialisting.png') no-repeat;
    background-size: cover;
    background-color: #490f83;
}
.login{
    color: rgb(116,0,194);
}
.login::hover{
    text-decoration: underline;
}
